html   
    head 
        title= "Title" 
    body 
        div.container
            input(type="text" placeholder="name" id="name")
            input(type="text" placeholder="lastName" id="lastName")
            input(type="date" placeholder="bornDate" id="bornDate")
            input(type="checkbox", id="sex") 
            | Sex
            input(type="text" placeholder="tech" id="tech")
            button(id='btn-add') Add
            each user in users
                p= `ID: ${user.id_users}`
                p= `Name: ${user.name}`
                p= `Last Name: ${user.lastName}`
                p= `Born Date: ${user.bornDate}`
                p= `Sex: ${user.sex}`
                p= `Tech: ${user.tech}`
                br
    script(src="functions.js") 